<title>About / Hair Trenz</title>
<div class='container'>
  <p>"The difference between ordinary and extraordinary is that little extra." -Joe Santy</p>
  <hr>
  <br>

  <h4>Welcome To Hair trenz - FREDERICKS FINEST 5TH STREET SALON</h4>
  <br>

  <p>
    We are proud to be the only salon in Frederick to use organic Salon Systems
    color line and the award winning Surface line of professional non toxic,
    ammonia free hair and skin care products with certified organic botanicals
    and natural ingredients. We invite you to come experience the healthy
    difference!
  </p>

  <p><i>Every Moment is an occation to feel Beautiful!</i></p>

  <p>
    We understand that beauty begins on the inside. We Believe that all life's
    ingredients- Friends, Family, Adventure, Inspiration and Love are all a part
    of the beautiful experience we call life. We welcome you, your family and
    friends to take a moment to peek inside hair trenz meet our wonderful stylists
    and browse our inspirational cards, gifts, books and jewelry. Get a hair
    cut... We promise you won't leave the same person who came in!
  </p>

  <p><i>Be our Guest- Fredericks Finest 5TH Street Salon</i></p>

  <p>
    It's our Mission "To Inspire, honor and nourish the beauty and well being of
    everyone from the products we use and sell to the relationships we build;
    creating a little more happy in the world we live." -Cindy, Owner
  </p>

  <br><br><br>
</div>
