<title>Highlights / Hair Trendz</title>
<div class='container'>
  <p>“As we work to create light for others we naturaly light our own way”  -Mary Anne Radmacher</p>
  <hr>
  <br>

  <h4>PRODUCT & SERVICE OF THE MONTH</h4>
  <p>It’s time to get your hair back into shape for spring!</p>
  <h4><span class='label label-primary'>Organic Salon Systems Treatments are 20% off in March</span></h4>
  <br><br>

  <h4>GET INSPIRED</h4>
  <p>
    Come in and browze our inspirational Cards, Gifts & Jewelry. We hope to
    create a convenient place for you pick up that little extra something!
  </p>
  <p>
    We now sell Miche Bags! Come in and check out our displays or click on the
    hairtrenz.miche.com link, and find a party at the top of the page then
    click to find the Hair trenz party. You can order directly from
    there and have your bag shipped to you in just a couple of days. Doesn’t get
    much better than that! WHAT LINK?
  </p>
  <br><br>

  <h4>COMING SOON!</h4>
  <p>
    Our new line of inspirational cards will be here soon. We are excited to now
    have cards and gift bags available to help make your shopping at Hair trenz complete.
  </p>
  <p>Martha is coming back!</p>
  <p>
    Book of the Month! Hait trenz is all about a healthy lifestyle. Were not
    only about caring for the body with healthful products and services but also
    nourishing the mind with inspiration and wisdom. Look for our New book of
    the month! WHAT IS THE BOOK OF THE MONTH?
  </p>
  <br><br>

  <hr>
  <p>
    “Thousands of candles can be lit by a single candle, and the life of the
    candle will not be shortened, happiness never decresses by being shared.”
    -The Budda</p>
  <br>
  <br>
  <center>
    <a href='/booking' class='btn btn-success btn-lg'>Click Here to make an appointment</a>
  </center>
  <br><br>
</div>
