<title>Location / Hair Trenz</title>

<div class='container'>
  <center>
    <h4>Location / Hours</h4>
    <p>234 Fifth St, Frederick, CO 80530 / Phone: 720.466.8429</p>
    <hr>
    <br>
  </center>

  <div class='row'>
    <div class='col-md-6'>
      PICTURE
    </div>
    <div class='col-md-6'>
      ABOUT THE SHOP
      <br>
      <h4 class='grey-text'>Hours</h4>
      <div>
        <strong class='grey-text'>Tuesday-Friday:10AM-6PM</strong><br>
        <strong class='grey-text'>Saturday:10AM-5PM</strong><br>
        <strong class='grey-text'>Sunday:Closed</strong>
      </div>

    </div>
  </div>

  <br>
  <hr>
  <br>
  <center>
    <a href='http://tinyurl.com/hairtrenz' class='btn btn-success btn-lg'>Google Map</a>
  </center>
  <br><br>


</div>
