<title>Services / Hair Trendz</title>
<div class='container'>
  <h4>We are passionate about the services we provide and take pride in our efforts to insure you enjoy a clean friendly and personable experience.</h4>
  <br>

  <h4>CUTS</h4>
  <p>
    We are artists and love to create please feel free to share with us your
    ideas. You may want to bring in pictures or consult on the latest trends
    and styles. No worries we can design a custom cut that compliments your
    features, face shape, personality and lifestyle.
  </p>
  <ul>
    <li>Women $15</li>
    <li>Men $15</li>
    <li>Children $13</li>
    <li>Razor/ Texture $16</li>
  </ul>
  <br>

  <h4>SHAMPOO & CONDITIONING</h4>
  <p>
    Don't forget to add the shampoo and conditioning massage to your hair cut
    service- the best part of is always the massage! Relax and let our wide
    range of lightly scented health conscious shampoos, conditioners and
    treatments focus on your hairs specific needs whether it be moisture,
    volume or repair we got you covered.
  </p>
  <ul>
    <li>Shampoo & conditioning massage $8</li>
    <li>Deep conditioning, volumising or Repair treatment $15</li>
  </ul>
  <br>


  <h4>COLOR</h4>
  <p>
    Your experience begins with a customized consultation to discuss your style,
    preferences, face shape and skin tone. We use organic salon systems the most
    natural, organic, vegan, and cruelty free line worldwide giving your hair a
    healthy shine and vibrant color while eliminating harmful chemicals. A
    complimentary refreshment to sooth and relax while processing is always a
    treat.
  </p>
  <ul>
    <li>All over from $65</li>
    <li>Partial from. $35</li>
    <li>Retouch from $55</li>
    <li>Full Highlight from. $90</li>
    <li>Partial Highlight from. $60</li>
    <li>Touch up Highlight from. $30</li>
  </ul>
  <br>

  <h4>STYLING</h4>
  <p>
    To complete and compliment your services may we offer our thoughts on the
    latest trends and styles and how they might work with your ideas.
  </p>
  <ul>
    <li>Blow out / Style from. $15</li>
    <li>Iron / Press from $25</li>
    <li>Simple Up-do from $30</li>
    <li>Special Occasion Up-do from $45</li>
  </ul>
  <br>

  <h4>CURL</h4>
  <p>
    Whether your looking for a lot of curl or just a little body or volume our
    amazing organic curl systems is the way to go. 100 percent Ammonia & Theo free!
    Achieving a soft natural feel with a lot of shine. If perming is not your
    thing we offer roller setting which includes a deep cleansing
    shampoo, rollers, a warm dryer, a little teasing if you like
    and a firm styling spray for maximum hold.
  </p>
  <ul>
    <li>Perm from $60</li>
    <li>Roller setting from $25</li>
    <li>Simple Up-do from $30</li>
    <li>Special Occasion Up-do from $45</li>
  </ul>
  <br>

  <h4>WAXING</h4>
  <p>
    We offer waxing services for brow, lip, chin, face, and toes. Our organic wax
    will help slow and soften regrowth while eliminating shaving stubble and
    irritation. Please note: Retin- A, some antibiotics, medications and certain
    health conditions may prohibit us from performing waxing services.
    Please consult with your stylist.
  </p>
  <ul>
    <li>Eyebrows $12</li>
    <li>Upper lip $12</li>
    <li>Chin. $12</li>
    <li>Partial or full face upon consultation</li>
    <li>Toes $10</li>
  </ul>
  <br>

  <h4>WEDDINGS</h4>
  <p>
    We would be honored to be a part of your special day! Please call or come in
    and we can schedule a time to discuss all the details. Here are some helpful
    guidelines to get you started.
  </p>
  <ul>
    <li>Bride should schedule a consultation at least two week prior to the wedding.</li>
    <li>Bring: pictures if you have them, Head piece/ veil and hair accessories.</li>
    <li>If you are coloring your hair, plan on getting it done one week prior to the big day.</li>
    <li>We recommend appointments 3-4 hours before start time.</li>
    <li>Arrive with clean/ dry hair; We recommend wearing a button down shirt.</li>
    <li>An umbrella is helpful during unpredictable weather.</li>
  </ul>
  <br>

  <br>
  <center>
    <a href='/booking' class='btn btn-success btn-lg'>Click Here to make an appointment</a>
  </center>
  <br><br>
</div>
